---
import { SITE_TITLE } from '../consts';
---

<section class="mt-20 mx-auto w-full max-w-screen-xl space-y-8">
    <div class="space-y-1">
        <p class="mb-5"><span class="bg-clip-text text-transparent font-semibold bg-gradient-to-r from-blue-300 to-green-300">¿Qué es {SITE_TITLE}?</span>        </p>
        <h2 class="text-3xl text-white"><span class="font-bold">{SITE_TITLE}</span> es una plataforma ágil para gestionar proyectos y tareas, diseñada para maximizar la colaboración y la eficiencia.</h2>
    </div>
</section>

<style>
    
</style>