---
const year = new Date();
import { GitHubLogoIcon } from "@radix-ui/react-icons";
import { LinkedInLogoIcon } from "@radix-ui/react-icons";
import { DiscordLogoIcon } from "@radix-ui/react-icons";
import AuthorInfo from "./icons/AuthorInfo.astro";
---

<footer class="w-full py-5 border-t border-gray-600 bg-gray-900 mt-24">
    <div class="flex flex-col md:flex-row mx-auto align-top mt-2">
       <div class="w-full mb-5 md:mb-0 items-center flex flex-col">
            <img src="/favicon.svg" alt="Image Logo" class="w-32 h-32 mx-auto md:mx-0 mb-3" />
            <div class="text-center md:text-left">
                <div class="">
                    <AuthorInfo/>
                </div>
                
            </div>
        </div>

        <div class="w-full mb-5 md:mb-0 items-center flex flex-col">
            <p class="font-bold text-center md:text-left mb-2">Enlaces:</p>
            <div class="items-redirections flex flex-col text-left">
                <li><a href="#">Inicio</a></li>
                <li><a href="#about-product">Acerca de SimioWorks</a></li>
            </div>
        </div>

        <div class="w-full items-center flex flex-col">
            <div class="md:flex-row md:justify-end">
                <p class="font-bold text-center md:text-left md:mr-4 mb-4">Conoce mis redes:</p>
                <div class="mt-4 md:mt-0 text-center flex flex-row space-x-4 justify-center md:justify-start">
                    <a href="https://github.com/SimioDev" target="_blank">
                        <GitHubLogoIcon className="w-8 h-8" />
                    </a>
                    <a href="https://www.linkedin.com/in/nestor-cabrera-6008b6314/" target="_blank">
                        <LinkedInLogoIcon className="w-8 h-8" />
                    </a>
                    <a href="https://discord.gg/JKaWxB2yjH" target="_blank">
                        <DiscordLogoIcon className="w-8 h-8" />
                </div>
            </div>
        </div>
    </div>
    <p class="text-gray-200 mt-10 text-center font-bold">
        &copy; {year.getFullYear()} SimioDev. Todos los derechos reservados.
    </p>
</footer>	