---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<div class="px-4 pb-20 pt-48">
    <h1 class="text-white font-bold text-5xl md:text-7xl text-balance text-center max-w-[30ch] mx-auto md:leading-[1.16]">
        Gestiona tus tareas de manera eficaz con 
        <span class="bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 inline-block text-transparent bg-clip-text">{SITE_TITLE}</span>
    </h1>
    <p class="text-white/80 text-center text-2xl mt-3">
        Haz que las tareas diarias sean mas sencillas y eficaces con nosotros.
    </p>
</div>
